@import '../../styles/variables.scss';

.formSection{
    overflow: hidden;
}
.formSection__inner {
    margin-right: -5rem;
    padding-right: 5rem;
    background-image: url('./img/form-bg.jpg');
    background-size: cover;
    background-position: right;
}

.form {
    width: calc(50% + 5rem);
    margin-left: -5rem;
    padding: 2rem 5rem;
    background-color: $blue;
}

.form__title {
    margin-bottom: 1.5rem;
    color: #ffffff;
    line-height: 120%;
}
.form__legend {
    max-width: 90%;
    color: #3ae2ce;
    font-size: 0.8rem;
}
.form__inputs-legend {
    margin-bottom: 1.5rem;
}

.form__input {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.25rem 0;
    color: #3ae2ce;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 99.5% center;
    border-bottom: 2px solid #918e8b;
    font-family: $muller;
    font-size: 0.8rem;
    font-weight: 300;

    &-name {
        background-image: url('./img/person.svg');
    }

    &-phone {
        background-image: url('./img/telephone.svg');
    }

    &-email {
        background-image: url('./img/mail.svg');
    }
}

.form__submit {
    display: flex;
    flex-direction: column;
}
.form__submit-btn {
    margin-bottom: 1.25rem;
    padding: 0.5rem 0;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &::after {
        content: '';
        width: 10px;
        border-radius: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        aspect-ratio: 1 / 1;
        transition: 0.5s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
    }

    span {
        transition: 0.25s ease;
        position: relative;
        z-index: 2;
    }

    &:hover {
        &::after {
            width: calc(100% + 4px);
            background-color: #fff;
            opacity: 1;
        }

        span {
            color: $blue;
        }
    }
}

@media (max-width: $tablet) {
    .formSection__inner{
        margin: 0 -10px;
        padding: 0;
        background-position: center;
    }
    .form {
        width: 100%;
        margin: 0;
        background-color: rgba($blue, 0.9);
    }
}

@media(max-width: $phone){
    .form{
        padding: 1rem 2rem;
    }
    .form__legend{
        max-width: 100%;
        text-align: center;
    }
}