@import '../../styles/variables.scss';

.footer {
    margin-top: auto;
    background-color: $blue;
}
.footer__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 3.5rem 0;
}

/* common text styles */
.footer__text {
    color: #ffc487;
    font-size: 0.9rem;
    font-weight: 500;
}
/* logo sizes */
.footer__logo {
    width: 3.5rem;
    height: 2rem;
    margin: 0 auto;
}
/* list of social links */
.footer__links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.footer__link {
    a {
        transition: 0.3s ease;

        /* svg icon */
        svg {
            width: 1rem;
            height: 1rem;
            fill: #fff;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}
/* dev nickname */
.footer__developer {
    text-align: right;
}

/* DEVICE ADAPTATION */
/* mobile phone */
@media (max-width: $phone) {
    .footer__inner {
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, fit-content);
    }
    .footer__main {
        grid-row: 1;
    }
    .footer__copyright {
        margin-top: 2rem;
    }
    .footer__copyright,
    .footer__developer {
        text-align: center;
    }
}
