@import '../../styles/variables.scss';

.stages__inner {
    padding: 7rem 0;
}

/* wrapper for stages items */
.stages__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
/* single stage item */
.stages__item {
    display: flex;
}
/* number of the item */
.stages__item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    background-image: radial-gradient(
        #fdf5eb 0px 2px,
        $white 2px 40%,
        #fdf5eb 35% calc(40% + 2px),
        $white calc(40% + 2px) 55%,
        #fdf5eb 55% calc(55% + 2px),
        $white calc(55% + 2px) 75%,
        #fdf5eb 75% calc(75% + 2px),
        $white calc(75% + 2px) 100%
    );
    border: 2px solid #fdf5eb;
    border-radius: 50%;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.2rem;
        height: 1.2rem;
        color: $dark-blue;
        background-color: #fde5d1;
        border-radius: 50%;
        font-family: $muller;
        font-size: 0.7rem;
        font-weight: 500;
    }
}
/* wrapper for name and description */
.stages__item-text {
    display: flex;
    flex-direction: column;
    padding-top: 0.7rem;
}
/* stage name */
.stages__item-name {
    display: block;
    margin-bottom: 1rem;
    color: #313131;
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;

    &::after {
        content: '';
        width: 2rem;
        height: 2px;
        background-color: $dark-blue;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        z-index: 1;
    }
}
/* stage description text */
.stages__item-descr {
    margin-top: auto;
    color: #5e5e5e;
    font-size: 0.9rem;
    font-weight: 300;
}

/* DEVICE ADAPTATION */
/* tablet */
@media (max-width: $tablet) {
    .stages__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* mobile phone */
@media (max-width: $phone) {
    .stages__wrapper {
        grid-template-columns: 1fr;
    }
    .stages__item-number {
        align-self: center;

        span {
            font-size: 0.9rem;
        }
    }
    .stages__item-text {
        padding: 0 0.25rem 0 0;
    }
    .stages__item-name {
        font-size: 1.3rem;
    }
    .stages__item-descr {
        font-size: 1.1rem;
    }
}
