@import '../../styles/variables.scss';

.services__inner {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.services__wrapper {
    display: flex;
}
/* tabs buttons wrapper */
.services__tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding-right: 0.5rem;
}
/* single tab button */
.services__tab {
    color: #7d7d7d;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: left;
    transition: 0.3s ease;
    cursor: pointer;
    outline: none;

    &.tab-active {
        padding-left: 1.5rem;
        color: $dark-blue;
        font-weight: 600;
    }

    &:hover,
    &:focus {
        color: $dark-blue;
    }
}
/* services items to show */
.services__items {
    width: 75%;
    overflow: hidden;
    position: relative;
}
/* single services information item */
.services__item {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &.services__item-active {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        position: relative;
        z-index: 1;
    }
}

.services__photo {
    width: 100%;
    margin-bottom: 3rem;

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 390px;
    }
}
/* wrapper for name and description text */
.services__descr {
    width: 66.666%;
    padding-right: 2rem;
}
.services__name {
    margin-bottom: 1rem;
    color: $dark-blue;
    font-family: $playfair;
    font-size: 1.5rem;
}
.services__text {
    color: #5e5e5e;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 170%;
}
/* wrapper for quantity info and link to the form */
.services__info {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    padding-top: 0.5rem;
    text-align: right;
}
.services__quantity {
    color: $dark-blue;
}
/* link to the form section */
.services__link {
    align-self: flex-end;
    margin-top: auto;
    padding: 0.25rem 1.25rem;
    color: $dark-blue;
    background-color: transparent;
    border: 2px solid $dark-blue;
    font-weight: 800;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $dark-blue;
        transition: 0.25s ease-out;
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    span {
        font-size: 0.9rem;
        transition: 0.25s ease-out;
        position: relative;
        z-index: 2;
    }

    &:hover {
        &::after {
            transform: translateX(0);
        }
        span {
            color: $white;
        }
    }
}

/* DEVICE ADAPTATION */
/* tablet */
@media (max-width: $tablet) {
    .services__wrapper {
        flex-wrap: wrap;
        padding-top: 5rem;
        position: relative;
    }
    /* tabs buttons wrapper */
    .services__tabs {
        align-items: center;
        width: 50%;
        height: 100px;
        margin: 0 auto 2rem;
        background-color: $white;
        border: 2px solid $dark-blue;
        transform: translateX(-50%);
        transition: 0.5s ease;
        overflow: hidden;
        position: absolute !important;
        top: 0;
        left: 50%;
        z-index: 2;

        li {
            width: 100%;
        }

        &.services__tabs-show {
            height: 270px;
            overflow: auto;

            .services__tab {
                transform: translateY(0);
                position: relative;
            }
        }

        &:hover {
            height: 150px;
        }
    }
    /* single tab button */
    .services__tab {
        width: 100%;
        padding: 0.5rem 2rem;
        background-color: $white;
        border-top: 2px solid $dark-blue;
        text-align: center;
        top: 0;
        left: 0;
    }
    /* services items to show */
    .services__items {
        width: 100%;
        position: relative;
        z-index: 1;
    }
}
/* mobile phone */
@media (max-width: $phone) {
    /* tabs buttons wrapper */
    .services__tabs {
        width: 75%;

        &.services__tabs-show {
            height: 200px !important;
        }
    }
    .services__photo {
        margin-bottom: 1rem;
    }
    /* wrapper for name and description text */
    .services__descr {
        width: 100%;
        margin-bottom: 1rem;
    }
    /* hide title and quantity info */
    .services__name,
    .services__quantity {
        display: none;
    }
    /* wrapper for quantity info and link to the form */
    .services__info {
        width: 100%;
    }
    /* link to the form section */
    .services__link {
        align-self: center;
    }
}
