@import '../../styles/variables.scss';

.video__wrapper {
    max-width: 1360px;
    margin: 0 auto;
    transform: scale(0.5);
    transition: $sectionTransition;
}

/* <video> element */
.video__presentation {
    width: 100%;
    display: block;
}
/* video play button */
.plyr__control--overlaid {
    position: relative;
    z-index: 3 !important;
}
/* buttons on the bottom of the video */
.plyr__controls * {
    font-family: $muller;
}

/* video description wrapper */
.video__description {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($blue, 0.5);
    transition: 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    /* video description text */
    span {
        color: $white;
        transform: translateY(200%);
    }

    /* styles to hide the element */
    &.video__description-hidden {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}
