$container-padding: 15px;

*{
    box-sizing: border-box;
}
// body section
body{
    background-color: #FFFFC2;
    color: #1B1B1B;
    font-size: 36px;
}

.container {
    padding: $container-padding;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.subtitle{
    font-size: 20px;
}