@import '../../styles/variables.scss';

/* hide content until the page loads */
.main,
.header,
.footer {
    opacity: 0;
}

.projectPage__inner {
    padding: 5rem 0;
}

.projectPage__title {
    text-align: center;
}

/* carousel styles */
.projectPage__carousel {
    margin-bottom: 3rem;
}
.embla__viewport {
    position: relative;

    /* here I've added a pseudo element to avoid accidental click while user is dragging the carousel and to prevent full screen gallery from opening */
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
}
/* you can see it yourself if you increment z-index of this element to 3 or more and try to drag the carousel */
.projectPage__gallery {
    position: relative;
    z-index: 1;
}
.projectPage__description {
    margin-bottom: 2rem;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    line-height: 160%;
}
.projectPage__meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0.5rem;
}
.projectPage__meta-category {
    color: #1e1e1e;
    transition: 0.3s ease;

    &:hover,
    &:focus {
        opacity: 0.7;
    }
}
.projectPage__meta-date {
    font-family: $muller;
    font-size: 0.9rem;
    font-weight: 300;
}
