@import '../../styles/variables.scss';

.pageLoader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    svg{
        width: 50%;
    }
}

.loaderLogo {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;

    &.loaderLogo__path-B {
        animation: pathB 5s linear infinite;
    }
    &.loaderLogo__path-R {
        animation: pathR 5s linear infinite;
    }
}

@keyframes pathB {
    0%{
        opacity: 0;
    }
    10% {
        opacity: 1;
        stroke-dashoffset: 150;
        d: path('M0 2 H20 C25 2 35 10 25 20 H0 H20 C25 20 35 30 25 40 H0');
    }
    60%,
    90% {
        opacity: 1;
        stroke-dashoffset: 0;
        d: path('M0 2 H20 C25 2 35 10 25 20 H0 H20 C25 20 35 30 25 40 H0');
    }
    100% {
        opacity: 0;
        stroke-dashoffset: 0;
        d: path('');
    }
}

@keyframes pathR {
    0%{
        opacity: 0;
    }
    10% {
        opacity: 1;
        stroke-dashoffset: 150;
        d: path('M40 2 H60 C60 1 75 10 60 20 H40 H60 C60 20 65 25 65 41.5');
    }
    65%,
    90% {
        opacity: 1;
        stroke-dashoffset: 0;
        d: path('M40 2 H60 C60 1 75 10 60 20 H40 H60 C60 20 65 25 65 41.5');
    }
    100% {
        opacity: 0;
        stroke-dashoffset: 0;
        d: path('');
    }
}
