@import '../../styles/variables.scss';

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 50px;
    background-color: rgba($blue, 0.95);
    opacity: 0;
    transform: scale(0.25);
    transition: 0.5s ease;
    cursor: pointer;
    outline: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    &-active {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 110;
    }
}

.modal-inner {
    display: flex;
    padding: 15px 10px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: $shadow-default;
    cursor: auto;
}

@media(max-width: $tablet){
    .modal{
        padding: 20px 25px;
    }
    .modal-inner{
        padding: 10px 5px;
    }
}