@import '../../styles/variables.scss';

.intro__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4.25rem;
    position: relative;
    z-index: 1;
}

/* blue block with title */
.intro__main {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 1;
    grid-row: 1;
    margin: -4.25rem 0 -4.5rem -5rem;
    padding: 4.25rem 0 1.5rem 5rem;
    background-color: rgba($blue, 0.97);
    z-index: 2;
}

.intro__main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 4.5rem;
    color: #fff;
}

.intro__title {
    margin-bottom: 1.75rem;
    color: #fff;
    font-size: 3rem;
}
.intro__subtitle {
    max-width: 55%;
    margin-bottom: 2rem;
    font-family: $muller;
    font-size: 0.75rem;
    font-weight: 300;
}
/* peach color link */
.intro__main-link {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    color: #fff;
    box-shadow: $shadow-default;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.25s ease-out;
    overflow: hidden;
    position: relative;

    /* link background */
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #f8a25a;
        transition: 0.25s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    span,
    svg {
        position: relative;
        z-index: 2;
    }

    /* link text */
    span {
        margin-right: 1rem;
        font-size: 0.75rem;
    }

    &:hover {
        box-shadow: none;

        &::after {
            left: 100%;
        }
    }
}
/* appears on tablets */
.intro__main-arrow {
    display: none;
}

/* social links */
.intro__main-social {
    display: flex;
    gap: 1.5rem;
    margin-top: auto;

    a {
        transition: 0.3s ease;

        svg {
            width: 14px;
            height: 14px;
            fill: #b3b9bf;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}

/* carousel block behind */
.intro__carousel {
    grid-column: 1 / span 2;
    grid-row: 1;
    overflow: hidden;
}
/* carousel slides container */
.intro__carousel-container {
    display: flex;
}
/* carousel single slide */
.intro__carousel-slide {
    flex: 0 0 100%;
    margin-right: 1rem;
    position: relative;
}

/* carousel navigation wrapper */
.intro__carousel-dots {
    grid-column: 2 / span 1;
    padding: 2.25rem 0 2rem;
    text-align: right;
    font-size: 0;
}
/* carousel navigation button */
.intro__carousel-dot {
    width: 26px;
    height: 3px;
    margin-right: 12px;
    background-color: rgba(26, 68, 74, 0.25);
    transition: 0.3s ease-out;
    cursor: pointer;

    &.is-selected {
        background-color: rgba(26, 68, 74, 1);
    }

    &:last-child {
        margin-right: 0;
    }
}

/* ANIMATIONS */
@keyframes moveArrow {
    from {
        transform: rotate(90deg) translateX(5px);
    }
    to {
        transform: rotate(90deg) translateX(0);
    }
}

/* DEVICE ADAPTATION */
@media (max-width: $smallScreen) {
    .intro__main-content {
        padding-left: 1rem;
    }
}

/* tablet */
@media (max-width: $tablet) {
    .intro {
        padding: 0;

        .container {
            border-right: none;
        }
    }
    .intro__inner {
        padding: 0;
    }
    /* blue block with title */
    .intro__main {
        grid-column-end: span 2;
        margin: 0;
        padding: 0;
    }
    .intro__main-content {
        align-items: center;
        padding: 6rem 4rem 2rem;
        text-align: center;
    }
    .intro__subtitle {
        max-width: 100%;
    }

    /* peach color link */
    .intro__main-link {
        margin-bottom: 1.5rem;

        /* link text */
        span {
            margin-right: 0;
        }
        /* link arrow */
        svg {
            display: none;
        }
    }

    /* this arrow appears instead of link's one */
    .intro__main-arrow {
        display: block;
        animation: moveArrow 1s ease-out infinite alternate;
        transform: rotate(90deg);
    }

    /* hiding social links */
    .intro__main-social {
        display: none;
    }

    /* carousel block behind */
    .intro__carousel {
        background-color: $dark-blue;

        /* using this thus images will not be stretched */
        * {
            height: 100%;
            aspect-ratio: 1168 / 598;
        }
    }
    /* carousel single slide */
    .intro__carousel-slide {
        margin-right: 0;
    }
    /* carousel navigation button */
    .intro__carousel-dots {
        display: none;
    }
}

/* mobile phone */
@media (max-width: $phone) {
    .intro__main-content {
        padding: {
            left: 5px;
            right: 5px;
        }
    }
    .intro__subtitle {
        font-size: 1rem;
    }
}
