@import '../../styles/variables.scss';
@import '../../components/Logo/Logo.scss';

.section__inner {
    padding: 25px;
    background-color: #fffff8;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.section__title {
    color: #4d1609;
}

.section__subtitle {
    color: #7c4538;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 1000px;
}

.muller {
    font-family: 'Muller';
}
.playfair {
    font-family: 'Playfair';

    &-bold {
        font-weight: bold;
    }
}
.raleway {
    font-family: 'Raleway';
    font-weight: 300;
}

.color {
    width: 700px;
    height: 250px;
    background-color: $dark-blue;
    border: 1px solid #000;
}

h1 {
    margin-bottom: 50px;
}

svg {
    background-color: $blue;
    width: 70px;
    height: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr) minmax(1fr, auto);
    grid-auto-rows: 100px;
    row-gap: 0.75rem;
    margin: 50px 0;
    border: 8px solid $dark-blue;

    div {
        padding: 10px;
        background-color: rgba($blue, 0.5);
        border: 3px solid rgba($blue, 0.75);
        color: $dark-blue;
        font-family: $raleway;

        &:last-child {
            position: relative;

            &::after {
                content: '';
                width: 2px;
                height: calc(100% + 6px);
                background-color: rgba($blue, 0.8775);
                position: absolute;
                top: -3px;
                right: -5px;
                z-index: 1;
            }
        }
    }
}

.box1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

div.box2 {
    grid-column-start: 2;
    grid-row: 3 / span 3;
    background-color: white;
    z-index: 2;
}

.box5 {
    grid-column: 1 / 4;
    grid-row: 4 / 6;
}
