@import '../../styles/variables.scss';

.portfolio__inner {
    opacity: 0;
    transform: translateX(-90%);
    transition: $sectionTransition;
}

/* filter buttons wrapper */
.portfolio__gallery-filter {
    display: flex;
    margin-bottom: 3rem;

    li {
        margin-right: 3rem;
    }
}
/* filter button */
.portfolio__gallery-filter-btn {
    color: #807f7f;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 300;
    transition: 0.3s ease;
    cursor: pointer;
    outline: none;
    position: relative;

    &:hover,
    &:focus {
        color: $dark-blue;
    }

    &.btn-active {
        color: $dark-blue;
        font-weight: 600;

        &::after {
            width: 100%;
            opacity: 1;
        }
    }

    &::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: $dark-blue;
        opacity: 0;
        transition: inherit;
        position: absolute;
        left: 0;
        bottom: -17px;
        z-index: 1;
    }
}

/* portfolio items */
.portfolio__gallery {
    .simplebar-content {
        display: flex;
    }
}
/* portfolio single item */
.portfolio__item {
    flex: 0 0 25%; /* item width */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 550px;
    transition: 0.25s ease-in-out;

    &:hover,
    &:focus {
        .portfolio__item-content {
            background-color: transparent;

            .portfolio__item-name,
            .portfolio__item-category {
                /* hide text */
                opacity: 0;
                visibility: hidden;
            }

            /* show button */
            .portfolio__item-more {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

/* background image */
.portfolio__item-cover {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;

    img {
        min-width: 400px;
        height: 100%;
    }
}

/* portfolio item name and category */
.portfolio__item-content {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem;
    background-color: rgba($blue, 0.7);
    color: #ffffff;
    transition: 0.3s ease;
    position: relative;
    z-index: 2;
}
.portfolio__item-name {
    font-size: 0.8rem;
    transition: inherit;
}
.portfolio__item-category {
    margin-top: auto;
    font-family: $muller;
    font-size: 0.75rem;
    line-height: 1;
    writing-mode: vertical-lr;
    transition: inherit;
    transform: scale(-1, -1);
}

/* 'Detail info' button */
.portfolio__item-more {
    display: flex;
    padding: 29px;
    background-color: rgba(247, 184, 127, 0.95);
    color: #fff;
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: $shadow-default;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: inherit;
    cursor: pointer;
    outline: none;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;

    &:hover,
    &:focus {
        border-color: #fff;
        box-shadow: 0 0 1px 3px rgba(247, 184, 127, 1);
    }

    &:focus {
        opacity: 1;
        visibility: visible;
    }
}

/* modal window carousel */
.portfolio__modal-photos-wrapper {
    width: calc(70% - 15px);
    background-color: $blue;
    border-radius: 8px;
    overflow: hidden;
}
.portfolio__modal-photos {
    display: flex;
    align-items: flex-start;
}
/* modal window carousel item */
.portfolio__modal-image {
    height: 550px;
    margin-right: 25px;
    text-align: center;
    position: relative;
    flex: 0 0 100%;

    &.image-loaded {
        background-color: $blue;
    }

    img {
        width: auto;
        height: 100%;
        margin: 0 auto;
    }
}

/* modal window detail information */
.portfolio__modal-info {
    display: flex;
    flex-direction: column;
    width: calc(30% + 15px);
    padding-left: 15px;
}
.portfolio__modal-name {
    margin-bottom: 0.5rem;
    font-family: $playfair;
    font-size: 1.2rem;
}
.portfolio__modal-category {
    width: fit-content;
    margin-bottom: 1.25rem;
    cursor: pointer;
    text-transform: lowercase;
}
.portfolio__modal-description {
    max-height: 300px;

    .simplebar-placeholder {
        box-shadow: 0 0 10px #000;
    }

    .simplebar-scrollbar::before {
        background-color: $dark-blue;
    }
}
.portfolio__modal-date {
    margin-top: auto;
    font-family: $muller;
    font-size: 0.8rem;
    font-weight: bold;
}

/* DEVICE ADAPTATION */
@media (max-width: $smallScreen) {
    .portfolio__modal-inner {
        display: flex;
        flex-wrap: wrap;
    }
    /* modal window carousel */
    .portfolio__modal-photos-wrapper {
        width: 100%;
    }
    .portfolio__modal-image {
        height: 350px;
    }
    /* modal window detail information */
    .portfolio__modal-info {
        width: 100%;
        padding-top: 0.5rem;
    }
    .portfolio__modal-description {
        max-height: 150px;
        margin-bottom: 2rem;
    }
}
/* tablet */
@media (max-width: $tablet) {
    .portfolio__gallery {
        margin: 0 -10px; /* setting negative margins so wrapper will be wider than a container */
    }
    .portfolio__item {
        flex: 0 0 90%;
        margin-right: 1rem;
    }
    .portfolio__item-cover img {
        transform: scale(1.6);
    }
}
/* mobile phone */
@media (max-width: $phone) {
    .portfolio__gallery-filter {
        flex-direction: column;
        margin-bottom: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }
    .portfolio__gallery-filter-btn {
        &::after {
            bottom: -5px;
        }
    }
    .portfolio__gallery {
        margin: 0 -5px;
    }
    .portfolio__item-cover img {
        transform: scale(1);
    }
    .portfolio__item-name {
        font-size: 1.25rem;
    }
    .portfolio__item-category {
        font-size: 1rem;
    }
    .portfolio__modal-image {
        height: 250px;
    }
}
