@import '../../../styles/variables.scss';

.errorPage__wrapper {
    padding: 5rem 0;
    text-align: center;
}

.errorPage__link {
    display: inline-block;
    margin-bottom: 3rem;
    color: $blue;
    font-size: 1.5rem;
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.15);
    }
}

.errorPage__errInfo{
    font-weight: 300;
}