@import '../../styles/variables.scss';

.testimonials__inner {
    padding: 7rem 0;
    overflow: hidden;
}
.testimonials__title {
    margin-bottom: 0;
}

/* carousel */
.testimonials__carousel {
    opacity: 0;
    transition: $sectionTransition;
    overflow: hidden;
}
.testimonials__wrapper {
    display: flex;
    padding: 4rem 0;
}
/* carousel single item*/
.testimonials__item {
    display: flex;
    margin: 0 auto;
    position: relative;
    flex: 0 0 75%;
    transition: 0.5s ease;
}
/* testimonial text wrapper */
.testimonials__item-main {
    padding: 2.5rem 7rem 2.5rem 3rem;
    background-color: #fff;
    box-shadow: $shadow-default;
}
.testimonials__item-name {
    color: #313131;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 140%;
}
.testimonials__item-service {
    display: block;
    margin-bottom: 1.5rem;
    color: #efb172;
    font-size: 0.75rem;
    font-weight: 700;
}
.testimonials__item-text {
    color: #5e5e5e;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 170%;
}

/* wrapper for author's photo */
.testimonials__item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 11rem;
    height: 11rem;
    margin: 1.5rem 0 0 -4rem;
    overflow: hidden;

    img {
        width: 100%;
    }
}

/* carousel pagination */
.testimonials__carousel-dots {
    text-align: center;
}
.testimonials__carousel-dot {
    width: 26px;
    height: 3px;
    margin-right: 12px;
    background-color: rgba(26, 68, 74, 0.25);
    transition: 0.3s ease-out;
    cursor: pointer;

    &.is-selected {
        background-color: rgba(26, 68, 74, 1);
    }

    &:last-child {
        margin-right: 0;
    }
}

/* DEVICE ADAPTATION */
@media (max-width: $smallScreen) {
    .testimonials__item {
        flex-basis: 90%;
    }
}

/* tablet */
@media (max-width: $tablet) {
    .testimonials__item {
        flex-basis: 100%;
    }
    .testimonials__item-main {
        margin-left: 2rem;
        padding-left: 2rem;
    }
    .testimonials__item-photo {
        margin-left: -6rem;
    }
}

/* mobile phone */
@media (max-width: $phone) {
    .testimonials__wrapper {
        padding-top: 2rem;
    }
    .testimonials__item {
        flex-direction: column-reverse;
    }
    .testimonials__item-main {
        margin: 0;
        padding: 9rem 1rem 2rem;
        text-align: center;
    }
    .testimonials__item-photo {
        margin: 0 auto -8rem;
    }
}
