@import './variables.scss';

.container {
    max-width: 1168px;
    margin: 0 auto;
    background-image: linear-gradient(
        to right,
        #f1efe9 0px 2px,
        $white 2px 25%,
        #f1efe9 25% calc(25% + 2px),
        $white calc(25% + 2px) 50%,
        #f1efe9 50% calc(50% + 2px),
        $white calc(50% + 2px) 75%,
        #f1efe9 75% calc(75% + 2px),
        $white calc(75% + 2px) 100%
    );
    border-right: 2px solid #f1efe9;

    &.nolines {
        background-image: none;
        border-right: none;
    }
}

.title {
    font-family: $playfair;
    font-size: 2.25rem;
    line-height: 1;
}
