@import './variables.scss';
@import './components.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// body section
html{
    font-size: 20px;
}
body{
    background-color: #fdfaf3;
    color: #1B1B1B;
}