@import './variables.scss';
@import './components.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// body section
html{
    font-size: 20px;
}
body{
    background-color: #FFFFC2;
    color: #1B1B1B;
//     background-image:linear-gradient(to right, 
//     red 0% 1px, 
//     #fdfaf3 1px 25%,
//     red 25% calc(25% + 1px), 
//     #fdfaf3 calc(25% + 1px) 50%,
//     red 50% calc(50% + 1px), 
//     #fdfaf3 calc(50% + 1px) 75%,
//     red 75% calc(75% + 1px), 
//     #fdfaf3 calc(75% + 1px) 100%
//   );
//   border-right: 1px solid red;
}

// #F1EFE9
// #fdfaf3