/* colors */
$white: #fdfaf3;
$blue: rgb(24, 44, 61);
$dark-blue: #00203a;

/* shadows */
$shadow-default: 9px 9px 28px 29px rgba(0, 0, 0, 0.07);

/* fonts */
$muller: 'Muller', 'Helvetica', 'Arial', sans-serif;
$playfair: 'Playfair Display', 'Times New Roman', serif;
$raleway: 'Raleway', 'Helvetica', 'Arial', sans-serif;

/* indent */
$section-pd: 0 15px;

/* screen sizes */
$smallScreen: 992px;
$tablet: 768px;
$phone: 576px;
