/* colors */
$white: #fdfaf3;
$blue: rgb(24, 44, 61);
$dark-blue: #00203a;

/* fonts */
$muller: 'Muller', 'Helvetica', 'Arial', sans-serif;
$playfair: 'Playfair Display', 'Times New Roman', serif;
$raleway: 'Raleway', 'Helvetica', 'Arial', sans-serif;