/* Muller */
@font-face {
    font-family: 'Muller';
    src: url('./Muller/MullerUltraLight.ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Muller';
    src: url('./Muller/MullerLight.ttf');
    font-style: normal;
    font-weight: 300;
}

/* Playfair Display */
@font-face {
    font-family: 'Playfair Display';
    src: url('./Playfair_Display/PlayfairDisplay-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./Playfair_Display/PlayfairDisplay-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

/* Raleway */
@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-Light.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}
